<!DOCTYPE html>
<html lang="en">
  {% include "head.liquid" %}
  <title>{{ title }}</title>
  <body>
  {% include "navbar.liquid" %}
    <main>
  {{ content }}
    </main>
  {% include "footer.liquid" %}
  </body>
</html>
