<!-- _includes/dates.liquid -->
<div class="card-body mt-1 px-5 bg-purple" style="border-radius: 50px">
  <h6 class="fs-4 pt-3">Upcoming Dates</h6>
  <div id="content">
    <div class="d-flex justify-content-between">
      <p class="fs-5">
        <a href="/staff/" class="text-white fw-normal text-decoration-underline">Staff Applications Due</a>
      </p>
      <p class="fs-5">TBD</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="fs-5">
        <a href="/registration/" class="text-white fw-normal text-decoration-underline">Early Bird (Discount) Registration Open</a>
      </p>
      <p class="fs-5">TBD</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="fs-5">Early Bird Discount Close</p>
      <p class="fs-5">TBD</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="fs-5">Overnight/EA Registration Close</p>
      <p class="fs-5">TBD</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="fs-5">Day Registration Close</p>
      <p class="fs-5">TBD</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="fs-5">Camp Week!</p>
      <p class="fs-5">{{ config.camp_week }}</p>
    </div>
  </div>
</div>
