<footer class="container p-4 m-auto align-items-center justify-content-center" id="contact">
  
  {% include "register-banner.liquid" %}
  <h2 class="mb-3 mt-5 text-center" style="color: #393866">Connect With Us!</h2>
  <p class="text-center text-muted small">
    General Inquiries:
    <a href="mailto:registration@necysc.org" style="color: black">registration@necysc.org</a>
  </p>
  <p class="text-center small text-muted">
    Director:
    <a href="mailto:registration@necysc.org" style="color: black">director@necysc.org</a>
  </p>
  <p class="text-center small text-muted">
    {{ config.po_box }}
  </p>
  <div class="row text-center align-items-center justify-content-center">
    <div class="col-auto">
      <a href="https://www.instagram.com/NECYSC/" style="display: inline-block" target="_blank">
        <img src="https://cdn.freebiesupply.com/images/large/2x/instagram-icon-white-on-black.png" alt="Instagram Logo" style="width: 50px; height: auto" />
      </a>
    </div>
    <div class="col-auto">
      <a href="https://www.facebook.com/NECYSC" style="display: inline-block" target="_blank">
        <img src="https://www.freepnglogos.com/uploads/logo-facebook-png/logo-facebook-facebook-logo-png-transparent-svg-vector-bie-supply-18.png" alt="Facebook Logo" style="width: 40px; height: auto" />
      </a>
    </div>
    <div class="col-auto">
      <a href="http://www.youtube.com/@NECYSC1" style="display: inline-block" target="_blank">
        <img src="/static/necysc_app/images/youtube_logo.svg" alt="YouTube Logo" style="width: 40px; height: auto" />
      </a>
    </div>
    <div class="col-auto">
      <a href="https://www.tiktok.com/@necysc" style="display: inline-block" target="_blank">
        <img src="/static/necysc_app/images/tiktok_logo.svg" alt="Tiktok Logo" style="width: 40px; height: auto" />
      </a>
    </div>
  </div>
  <div class="container"></div>
  <div class="text-center p-4">
    Copyright © {{ config.year }} NECYSC. All Rights Reserved.
    <p><a class="text-reset" href="https://necysc.org/">necysc.org</a></p>
  </div>
</footer>
